body {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

a {
    color: #0A3871;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 94%;
}

.main {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: auto;
    height: inherit;
    justify-content: start;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.aside {
    background: #FFFFFF;
    border-radius: 32px;
    border: none;
    box-shadow: 0px 24px 32px -8px rgb( 0 0 0 / 8% );
    display: block;
    flex: initial;
    height: auto;
    margin: 40px 0;
}
.aside-content {
    padding: 24px;
}

.show-image {
    display: none;
}

.logo-link {
    display: inline-block;
    padding: 16px 0 80px 0;
}

.textarea,
.result {
    align-items: center;
    background: #E5E5E5;
    /* border: none; */
    color: #0A3871;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    height: 350px;
    justify-content: center;
    line-height: 150%;
    /* outline: none; */
    width: 99%;
    resize: none;
}
.result {
    align-items: start;
    background: #FFF;
}

.aside-content .show-default {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.aside-content .show-result {
    align-content: center;
    display: none;
    flex-direction: column;
    height: 94%;
    justify-content: space-between;
}

.actions {
    width: 100%;
}

.info {
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.info::before {
    background-position: center;
    content: url( '../images/alert-icon.png' );
    display: block;
    height: 16px;
    left: 0;
    padding-right: 6px;
    position: relative;
    top: 0;
    width: 16px;
}

/** Buttons */
.btn {
    border-radius: 24px;
    cursor: pointer;
    padding: 24px;
    width: 100%;
}
.btn-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
.btn-encrypt {
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #FFF;
}
.btn-decrypt,
.btn-copy {
    color: #0A3871;
    border: 1px solid #0A3871;
}

.alert-box {
    background: #FFFFFF;
    border-radius: 32px;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 70px 0 40px 0;
    padding: 24px;
}

.title {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.message,
.copyright {
    color: #495057;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.copyright {
    font-size: 14px;
}

@media ( min-width: 768px ) {
    .btn-group {
        flex-direction: row;
    }
}

@media ( min-width: 1024px ) {
    .footer {
        width: 75%;
    }
    .actions,
    .textarea,
    .aside {
        margin: 0 auto;
        width: 82%;
    }
    .container {
        max-width: 90%;
    }
    .aside {
        margin: 40px auto;
    }
}

@media ( min-width: 1240px ) {
    .main {
        justify-content: space-around;
    }
    .show-image {
        display: block;
    }
    .main-content {
        flex-direction: row;
        gap: 1rem;
    }
    .aside {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 400px;
        height: 90vh;
        justify-content: center;
        margin: 40px 0;
    }
    .aside-content {
        height: 100%;
    }
}